<!DOCTYPE html>
<html lang='PL'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='icon' href='data:,'>

    <title>TODO</title>
</head>

<!-- page content -->
<!-- doc-end -->
