<center style='padding: 1rem'>
    <big>
        Nawigacja:
        <a href='/'>Strona główna</a>
        <a href='/featured'>Wyróżnione</a>
        <a href='/inv'>Inwestycje</a>
        <a href='products'>Produkty</a>
        <a href='categories'>Kategorie</a>
        <a href='manufacturers'>Producenci</a>
    </big>
</center>
<hr>
