<center class='my-3'>
    <form action='<%= url %>'>
        <input name='search' value='<%= search %>'>
        <input type='submit' value='Wyszukaj'>
    </form>
</center>

<style>
    .my-3 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
</style>
