<div class='bg-gray-800'>
    <div class='max-w-7xl mx-auto px-2 sm:px-6 lg:px-8'>
        <div class='relative flex items-center justify-between h-16'>
            <div class='absolute inset-y-0 left-0 flex items-center sm:hidden'>
                <button class='inline-flex items-center justify-center p-2 rounded-md text-gray-400
                               hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2
                               focus:ring-inset focus:ring-white collapse-toggle'
                        data-target='menu'>
                    <svg class='h-6 w-6'>
                        <use xlink:href='def.svg#menu'/>
                    </svg>

                    <svg class='hidden h-6 w-6'>
                        <use xlink:href='def.svg#x'/>
                    </svg>
                </button>
            </div>

            <div class='flex-1 flex items-center justify-center sm:items-stretch sm:justify-start'>
                <div class='flex-shrink-0 flex items-center'>
                    <!-- TODO -------------------------------------------------------------------------------------- -->
                    <img class='block lg:hidden h-8 w-auto'
                         src='https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg'>
                    <img class='hidden lg:block h-8 w-auto'
                         src='https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg'>
                    <!-- TODO -------------------------------------------------------------------------------------- -->
                </div>

                <div class='hidden sm:block sm:ml-6'>
                    <div class='flex space-x-4'>
                        <a class='px-3 py-2 rounded-md text-sm font-medium
                                  <% if (view_data.url == '/store') { %>
                                  bg-gray-900 text-white
                                  <% } else { %>
                                  text-gray-300 hover:bg-gray-700 hover:text-white
                                  <% } %>'
                           href='/store'>Produkty</a>

                        <a class='px-3 py-2 rounded-md text-sm font-medium
                                  <% if (view_data.url == '/info') { %>
                                  bg-gray-900 text-white
                                  <% } else { %>
                                  text-gray-300 hover:bg-gray-700 hover:text-white
                                  <% } %>'
                           href='/info'>Płatność i dostawa</a>

                        <a class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2
                                  rounded-md text-sm font-medium'
                           href='/about'>O firmie</a>

                        <a class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2
                                  rounded-md text-sm font-medium'
                           href='/contact'>Kontakt</a>
                    </div>
                </div>
            </div>

            <input class='hidden lg:block bg-gray-100 w-1/4 rounded-md px-3 py-2 text-sm'
                   placeholder='Wyszukaj produkt'
                   id='lg-search'>

            <div class='absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto
                        sm:ml-6 sm:pr-0'>
                <div class='ml-3 relative'>
                    <div>
                        <button class='bg-gray-800 flex text-sm rounded-full focus:outline-none
                                       focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800
                                       focus:ring-white drop-toggle'
                                data-target='user'>
<!-- TODO -------------------------------------------------------------------------------------- -->
                            <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
<!-- TODO -------------------------------------------------------------------------------------- -->
                        </button>
                    </div>

                    <div class='origin-top-right absolute right-0 z-20 mt-2 w-48 rounded-md
                                shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5
                                focus:outline-none transition ease-out duration-100 transform
                                opacity-0 scale-95'
                         id='user'>
                        <a class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
                                  active:bg-gray-200 focus:rounded-md'
                           href='/login'>Logowanie</a>

                        <a class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
                                  active:bg-gray-200 focus:rounded-md'
                           href='/register'>Rejestracja</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='sm:hidden hidden' id='menu'>
        <div class='px-2 pt-2 pb-3 space-y-1'>
            <a class='block px-3 py-2 rounded-md text-base font-medium
                                  <% if (view_data.url == '/store') { %>
                                  bg-gray-900 text-white
                                  <% } else { %>
                                  text-gray-300 hover:bg-gray-700 hover:text-white
                                  <% } %>'
               href='/store'>Produkty</a>

            <a class='block px-3 py-2 rounded-md text-base font-medium
                                  <% if (view_data.url == '/info') { %>
                                  bg-gray-900 text-white
                                  <% } else { %>
                                  text-gray-300 hover:bg-gray-700 hover:text-white
                                  <% } %>'
               href='/info'>Płatność i dostawa</a>

            <a class='block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md
                      text-base font-medium'
               href='/about'>O firmie</a>

            <a class='block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md
                      text-base font-medium'
               href='/contact'>Kontakt</a>
        </div>
    </div>
</div>

<div class='lg:hidden px-2 sm:px-6 bg-gray-200'>
    <input class='my-2 px-2 py-3 w-full rounded-md text-sm'
           placeholder='Wyszukaj produkt'
           id='search'>
</div>
