<link rel='stylesheet' href='/main.css'>
<%- include('header') %>

<center style='margin-top: 200px'>
    <h2 class='text-lg font-medium'>logowanie</h2>

    <% if (user) { %>
        <h3 class='mt-3'>zalogowano: <%= user.username %></h3>
    <% } %>

    <form method='POST' action='/login'>
        <div class='mt-10 w-1/4'>
            <p class='form-label'>login</p>
            <input class='form-input' name='username' required autofocus>
        </div>
        <div class='mt-3 w-1/4'>
            <p class='form-label'>hasło</p>
            <input class='form-input' name='password' type='password' required>
        </div>
        <input class='mt-10 btn' type='submit' value='zaloguj'>
    </form>

    <form class='mt-20' method='POST' action='/login/?_method=DELETE'>
        <input class='btn bg-gray-600 hover:bg-gray-700 focus:ring-gray-500' type='submit' value='wyloguj'>
    </form>
</center>
