<link rel='stylesheet' href='/main.css'>
<%- include('header') %>

<center style='margin-top: 200px'>
    <h2>logowanie</h2>

    <% if (user) { %>
        <h3>zalogowano: <%= user.username %></h3>
    <% } %>

    <form method='POST' action='/login'>
        <div>
            <label for='username'>login</label>
            <input id='username' name='username' required autofocus>
        </div>
        <div>
            <label for='password'>hasło</label>
            <input id='password' name='password' type='password' required>
        </div>
        <input type='submit' value='zaloguj'>
    </form>

    <form method='POST' action='/login/?_method=DELETE'
          style='margin-top: 100px'>
        <input type='submit' value='wyloguj'>
    </form>
</center>
