<center style='margin-top: 200px'>
    <h2>rejestracja</h2>

    <form action='/register' method='POST'>
        <div>
            <label for='login'>login</label>
            <input id='login' name='login' required autofocus>
        </div>
        <div>
            <label for='pass'>hasło</label>
            <input id='pass' name='pass' type='password' required>
        </div>
        <input type='submit' value='zarejestruj'>
    </form>

    <a href='/' style='margin-top: 100px'>strona główna</a>
</center>
