<!doctype html>
<html lang='pl'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>temp</title>
</head>

<body>
<center style='margin-top: 200px'>
    <h2>rejestracja</h2>
    <form action='/signup' method='POST'>
        <div>
            <label for='login'>login</label>
            <input id='login' name='login' autocomplete='login' required
                   autofocus>
        </div>
        <div>
            <label for='pass'>hasło</label>
            <input id='pass' name='pass' autocomplete='new-pass'
                   required>
        </div>
        <input type='submit' value='zarejestruj'>
    </form>
</center>
</body>
</html>