<table class='table-fixed mx-auto border-ts-lightgray p-half w-500'>
    <colgroup>
        <col class='w-auto'>
        <col class='w-10'>
        <col class='w-10'>
    </colgroup>

    <tr>
        <th><h3>Kategorie</h3></th>
        <th colspan='2'><a href='/category/-1'>Dodaj</a></th>
    </tr>

    <% records.forEach(($, i) => { %>
        <% if (i % 2) { %>
            <tr class='bg-gray-50'><%- include('row', {$}) %></tr>
        <% } else { %>
            <tr class='bg-gray-100'><%- include('row', {$}) %></tr>
        <% } %>
    <% }) %>
</table>
