<form class='mt-5 bg-white sm:rounded-md shadow overflow-hidden'
      method='POST' action='#'>

    <div class='grid grid-cols-1 sm:grid-cols-6 gap-6 px-4 py-5 sm:p-6'>
        <div class='sm:col-span-6'>
            <p class='form-label'>Zamów jako</p>
            <select class='form-input sm:w-1/3' id='order-form-entity' autocomplete='off'>
                <option selected>Firma</option>
                <option>Os. prywatna</option>
            </select>
        </div>

        <div class='sm:col-span-3' data-conditional>
            <p class='form-label'>Nazwa firmy</p>
            <input class='form-input' autofocus required>
        </div>

        <div class='sm:col-span-2' data-conditional>
            <p class='form-label'>NIP</p>
            <input class='form-input' required>
        </div>

        <% ['Imię', 'Nazwisko'].forEach($ => { %>
            <div class='sm:col-span-3 hidden' data-conditional>
                <p class='form-label'><%= $ %></p>
                <input class='form-input'>
            </div>
        <% }) %>

        <div class='sm:col-span-4'>
            <p class='form-label'>Adres e-mail</p>
            <input class='form-input' type='email' required>
        </div>

        <div class='sm:col-span-4 sm:w-1/2'>
            <p class='form-label'>Numer telefonu</p>
            <input class='form-input' type='tel' required>
        </div>

        <div class='sm:col-span-6'>
            <p class='form-label'>Adres</p>
            <input class='form-input' required>
        </div>

        <div class='sm:col-span-2'>
            <p class='form-label'>Województwo</p>
            <select class='form-input' required>
                <option disabled selected hidden></option>
                <option>woj. lubuskie</option>
                <option>woj. dolnośląskie</option>
                <option>woj. wielkopolskie</option>
            </select>
        </div>

        <div class='sm:col-span-2'>
            <p class='form-label'>Miejscowość</p>
            <input class='form-input' required>
        </div>

        <div class='sm:col-span-2'>
            <p class='form-label'>Kod pocztowy</p>
            <input class='form-input' required>
        </div>
    </div>

    <div class='px-4 py-3 sm:px-6 bg-gray-50'>
        <input class='btn block ml-auto text-base' type='submit' value='Zamów'>
    </div>
</form>
