<%- include('../doc-start') %>

<body class='text-gray-900'>
    <%- include('../header') %>

    <div class='max-w-7xl mx-auto p-4'>
        <%- include('content') %>
    </div>
</body>

<%- include('../doc-end') %>
