<td><%= $.name %></td>
<td align='center'><a href='<%= '/product/upload/' + $.id %>'>Nowe zdjęcie</a></td>
<td align='center'><a href='<%= '/product/' + $.id %>'>Edytuj</a></td>
<td align='center'><a href='<%= '/product/del/' + $.id %>'>Usuń</a></td>
