<div class='grid grid-cols-1 sm:grid-cols-12 gap-4 lg:gap-8'>
    <div class='sm:col-span-4 lg:col-span-5 aspect-w-2 aspect-h-3 bg-gray-100
                overflow-hidden rounded-lg'>
        <img class='object-cover object-center' src='<%= product.img %>'>
    </div>

    <div class='sm:col-span-8 lg:col-span-7 flex flex-col justify-between'>
        <div class='sm:pr-8'>
            <h1 class='text-2xl font-bold text-gray-900'><%= product.name %></h1>

            <h2 class='mt-2 text-2xl text-gray-800'><%= product.cost %> zł</h2>
        </div>

        <form method='POST' action='/store/product/?_method=PATCH'>
            <input type='hidden' name='id' value='<%= product.id %>'>

            <div class='mt-10'>
                <h3 class='text-sm font-medium text-gray-900'>
                    Ilość</h3>

                <div class='grid grid-cols-4 mt-4'>
                    <input class='px-3 py-4 text-sm font-medium shadow-sm
                                  text-gray-900 rounded-md border-gray-200
                                  focus:border-white focus:ring-2
                                  focus:ring-emerald-500 hover:bg-gray-50'
                           type='number' name='diff' value='1' min='0'
                           oninput='validity.valid || (value = "")'>
                </div>
            </div>

            <input class='inline-block mt-6 w-full py-4 font-medium
                          text-white bg-emerald-600 hover:bg-emerald-700
                          rounded-md focus:ring-2 focus:ring-emerald-500
                          focus:ring-offset-2'
                   type='submit' value='Dodaj do koszyka'>
        </form>
    </div>
</div>
