<!doctype html>
<html lang='pl'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="icon" href="data:,">
    <link rel='stylesheet' href='/main.css'>

    <title>TODO</title>
</head>

<body>
    <%- include('../header') %>

    <div class='max-w-7xl mx-auto p-4'>
        <%- include('card') %>
    </div>
</body>
</html>
