<% if (items) { %>
    <script>
        var items = JSON.parse('<%- JSON.stringify(items) %>')
        console.log(items)
    </script>
<% } %>

<script>
    var cart = undefined

    var xhr = new XMLHttpRequest

    xhr.responseType = 'json'
    xhr.onload = onload
    xhr.open('POST', '/cart')
    xhr.setRequestHeader('Content-Type', 'application/json')
    xhr.send(localStorage.getItem('templates'))

    function onload() {
        console.log(this.response)
    }
</script>

<% if (!items) { %>
    <script>
        <%%>
    </script>
<% } %>




<center><h2>OK!</h2></center>
